@import "nullstyle";

// vars

// colors

$vary-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

// font famalies

$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// header

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    &__container {
        height: 200px;
        max-width: 1250px;
        padding: 0 25px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-top: 8px;
    }
}

.menu {
    &__list {
        display: flex;
        align-items: flex-start;
    }

    &__item {
        margin-left: 70px;
    }

    &__link {
        text-decoration: none;
        color: $vary-dark-blue;
        font-family: $open-sans;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .header__container {
        height: 80px;
    }

    .header__logo,
    .header__logo img {
        width: 80px;
        height: auto;
    }

    .menu__item {
        margin-left: 1em;
    }

    .menu__link {
        font-size: 12px;
    }
}

// first

.first {
    padding-top: 300px;
    padding-bottom: 250px;
    background: url("../img/bg-curve-desktop.svg") bottom no-repeat;
    background-size: 100%;

    &__container {
        max-width: 1250px;
        padding: 0 25px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item,
    &__item img {
        width: 100%;
    }

    &__title {
        font-family: $raleway;
        color: $vary-dark-blue;
        font-size: 40px;
    }

    &__text {
        margin: 18px 0;
        color: $vary-dark-blue;
        font-family: $open-sans;
        font-size: 18px;
    }

    &__input {
        font-size: 14px;
        font-family: $open-sans;
        padding: 10px 20px;
        width: 55%;
        border: 1px solid $vary-dark-blue;
        border-radius: 2px;
    }

    &__button {
        margin-left: 10px;
        font-size: 14px;
        font-family: $open-sans;
        color: $light-grayish-blue;
        padding: 10px 50px;
        background: $bright-blue;
        border: 1px solid $bright-blue;
        border-radius: 2px;
        box-shadow: 0 0 3px $vary-dark-blue;
    }
}

@media (max-width: 991px) {
    .first {
        padding-top: 200px;
        padding-bottom: 150px;

        &__container {
            flex-direction: column-reverse;
        }

        &__title {
            margin-top: 40px;
            text-align: center;
            font-size: 25px;
        }

        &__text {
            text-align: center;
            font-size: 15px;
            margin: 30px 0 35px 0;
        }

        &__input,
        &__button {
            width: 100%;
        }

        &__button {
            margin-left: 0;
            margin-top: 20px;
        }
    }
}